#container {
	background-color: white;
	height: 100%;
	max-height: 720px;
	width: 100%;
	padding: 0px;
}
a{
	text-decoration: none;
	background-color: inherit;;
	color: white;
}
a:focus, a:link, a:visited{
	background-color: #333;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
	background-color: #333;
}
#navbar{
	width: 100%;
	background-color: #333;
	display: inline-block;
}
#main_page {
	margin: 1px auto;
	width: 95%;
}
main{
	max-height: 500px;
	height: 80%;
	display: inline-block;
}
table {
	margin-left: 20px;
}
#search_box{
	width: 200px;
}
