{% extends "base.html" %}
{% load humanize %}
{% block content %}
     <form type="get" action="." style="margin: 0">
      <input  id="search_box" type="text" name="search_box"  placeholder="Please enter ID number" >
      <button class="btn btn-xs btn-danger" id="search_submit" type="submit" >Submit</button>
  </form>
    {% if person %}
    <br />
    <p>
      {{ person }}
    </p>
  <table class="table table-striped">
    {% for k, v in person.items %}
    <tr>
      <td>{{ k }}</td><td>{{ v }}</td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  {% endblock %}
