<html>
<head>
  <title>Person view</title>
</head>
<body>
  <h1> HELLO</h1>
    <h3>Displaying info for {{ person.name | title }}</h3>
  <div class="person">
  <table>
    <tr><td><b>NAME: </b></td><td>{{ person.name }}</td></tr>
    <tr><td><b>ID NUMBER: </b></td><td>{{ person.id_number }}</td></tr>
    <tr><td><b>ADDRESS: </b></td><td>{{ person.address }}</td></tr>
    <tr><td><b>AGE: </b></td><td>{{ person.age }}</td></tr>
    <tr><td><b>DATE ADDED: </b></td><td>{{ person.date_added }}</td></tr>
  </table>
</div>
</body>
</html>
