{% extends "base.html" %}
{% block content %}
  <form method="get" action=".">
    <table>
    <tr><td>Full Name</td><td><input type="text" name="name" placeholder="e.g Jhon Doe"/></td></tr>
    <tr><td>ID Number</td><td><input type='int' name='id_number'/></td></tr>
    <tr><td>Age</td><td><input type="int" name="age" /></td></tr>
    <tr><td>Address Line1:</td><td><input type="text" name="address1" placeholder="Street Address, P.O box"/></td></tr>
    <tr><td>Address Line2:</td><td><input type="text" name="address2" placeholder="Apartment, suite, unit, building, floor, etc."/></td></tr>
    <tr><td>City:</td><td><input type="text" name="text" /></td></tr>
    <tr><td><input type="submit" /></td></tr>
  </table>
  </form>
  {% endblock %}
